<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "http://https://artihubfront-end-production-3c59.up.railway.app"
  Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
  Header set Access-Control-Allow-Headers "Content-Type"
</IfModule>
